
body{ background:#F5F5F5;font: 12px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";color:#a5a5a5;}
a{color:#55c755;}
a:hover{color:#666; text-decoration: none;}
label{
    margin-top: 20px;
}

input[type="submit"]{
    background-color: #eee;
    border: 1px solid #ccc;
}
input[type="submit"]:hover{
    background-color: #bbb;
    border: 1px solid #ccc;
}
#outbox{
    -moz-column-count: 5;
    -moz-column-gap: 5%;
    -webkit-column-count: 5;
    -webkit-column-gap: 5%;
    column-count: 5;
    column-gap: 5%;
    width:100%; 
    margin:0 auto;
}
#outbox form{
    margin-top: -10px;
}
.content_box{

    width:100%;
    display: inline-block;
    font-size:12px;
    background-image: #FFF;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    font-size:15px;
    line-height: 1.5em;
    letter-spacing: 1pt;
    color:#353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;     
}
.content_box img{
    width: 100%;
}

.fieldWrapper input{
    background-color: white;
    width: 200px;

}