<!DOCTYPE html>
<html lang="en">
<head>
    <title>Memory Album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/page_layouts/{{ page.layout }}.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  </head>
	<body>
    <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1&appId=431173956956956";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook SDK -->

     <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><span class="smcq-title"><span style="font-family: Oswald, sans-serif;color:#fff;">Memory </span><span style="font-family: Oswald, sans-serif;color:#6e6;">Album</span></a>
        </div>
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
            <li>
              <button type="button" class="btn btn-default navbar-btn" onclick="location='/login/'">Sign In For More</button>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
              <span class="smcq-text">Logged in as <strong>{{ user.username}}</strong></span>
              <button type="button" class="btn btn-default navbar-btn" onclick="location='/logout/'">Logout</button>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header><br/><br/><br/><br/>
      
    <div class="container">
      <!--upper part-->
                <div class="row">
          <ol class="breadcrumb">
            <li><a href="/main">Home</a></li>
            <li class="active">{{ album.title }}</li>
            <li class="active">Page {{ page.idx }}</li>
            {% if user.is_authenticated %}
            <li>          
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Setting <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a data-toggle="modal" data-target="#addpage" style="cursor:pointer;"><font style="color:blue">Add Page</font></a></li>
                  <li><a data-toggle="modal" data-target="#change_layout" style="cursor:pointer;"><font style="color:blue">Change Layout</font></a></li>
                  <li class="divider"></li>
                  <li><a data-toggle="modal" data-target="#removepage"><font style="color:red;cursor:pointer;" >Remove Page</font></a></li>
                </ul>
              </div>
            </li>
            <li>
              Public: <input type="checkbox" onchange="change_public_state(this);" {% if album.public%}checked{% endif %}>
            </li>
            {% endif %}
            <li>
            <!-- Facebook share button -->
            <div class="fb-share-button" data-href="http://127.0.0.1:8000/album/{{ album.album_id }}" data-type="button_count"></div>
            <!-- End Facebook share button -->
            </li>
          </ol>
        </div>
      <!--upper part end-->

      <!--image waterfall here-->
      <div id="outbox">
        {% for image in page.images.all %}
         <div class="content_box">
          <img src="{% if image.url != '' %}{{image.url}}{%else%}/static/images/ts.jpg{% endif %}">
          {% if user.is_authenticated %}
          <form action="/modify/" method="post" id="changepic{{ image.idx }}">
            {% csrf_token %}
            <label for="id_url">Url:</label>
            <input type="input" name="url" id="id_url" value="{{image.url}}">
            <input type="hidden" value="{{ image.image_id }}" name="image_id" />
            <input type="hidden" value="modify_image_url" name="action" />
            <input type="submit" value="Change" />
          </form>
          <form action="/search_flickr" method="post" id="search{{ image.idx }}">
            {% csrf_token %}
            <label for="id_terms">Search for picture:</label>
            <input type="input" name="terms" id="id_terms">
            <input type="hidden" value="{{ image.image_id }}" name="image_id" />
            <input type="hidden" value="modify_image_url" name="action" />
            <input type="submit" value="Search" />
          </form>
          {% endif %}
         </div>
         
        {% endfor %} 
      </div>
      <ul class="pager">
            <li><a style="cursor:pointer;"onclick="prepage()">Previous</a></li>
            <li><a style="cursor:pointer;"onclick="nextpage()">Next</a></li>
            <li>
              <label>Page:</label>
              <input type="text" style="background-color:#eee; border: #ccc 1px solid;" size = "3" id="enterpage">
              <input type="button" onclick="jumppage()" size="2" value="Go">
            </li>
            <!-- use in js for jump page-->
            <input type="hidden" id="currentpage" value="{{page.idx}}">
          </ul>
          <!--add pages here -->
{% if user.is_authenticated %}
      <div class="modal fade" id="addpage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add new Pages</h4>
            </div>

            <form class="form-horizontal" role="form" action="/modify/" method="post">{% csrf_token %}
            <div class="modal-body">
              <br>
              <font style="font-size:15px;">Please choose the layout of new page:</font> {{ add_page_form.as_p }}
              <input type="hidden" value="{{ album.album_id }}" name="album_id" />
              <input type="hidden" value="add_page" name="action" />
            </div>

                <div class="modal-footer">
                  <div class="col-sm-offset-3 col-sm-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </div>
              </form>
            
          </div>
        </div>
      </div>
      
          <!--add pages end -->
          <!--remove pages here-->
                  <div class="modal fade" id="removepage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Remove current Page</h4>
            </div>
            <form class="form-horizontal" role="form" action="/modify/" method="post">{% csrf_token %}<br>
              <span class="label label-danger">ATTENTION:</span><font style="font-size:15px;"> You are removing this page now...really want to remove?</font>
            <div class="modal-body">
              

              {{ remove_page_form.as_p }}
              <input type="hidden" value="{{ album.album_id }}" name="album_id" />
              <input type="hidden" value="{{ page.idx }}" name="idx" />
              <input type="hidden" value="remove_page" name="action" />
            </div>

                <div class="modal-footer">
                  <div class="col-sm-offset-3 col-sm-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Remove</button>
                  </div>
                </div>
              </form>
            
          </div>
        </div>
      </div>
          <!--remove pages end-->
       <!--change layout here -->
      <div class="modal fade" id="change_layout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Change layout</h4>
            </div>

            <form class="form-horizontal" role="form" action="/modify/" method="post">{% csrf_token %}
            <div class="modal-body">
              <br>
              <font style="font-size:15px;">Please choose new layout:</font> {{ add_page_form.as_p }}
              <p>Current layout: {{ page.layout }}.css </p>
              <input type="hidden" value="{{ album.album_id }}" name="album_id" />
              <input type="hidden" value="{{ page.idx }}" name="idx" />
              <input type="hidden" value="change_page_layout" name="action" />
            </div>

                <div class="modal-footer">
                  <div class="col-sm-offset-3 col-sm-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Change</button>
                  </div>
                </div>
              </form>
            
          </div>
        </div>
      </div>
{% endif %}

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>

    <!--jump page -->
    <script type="text/javascript">
      function _(x){
        return document.getElementById(x);
      }
      function jumppage(){
        var a = _('enterpage').value;
        window.location="/album/{{ album.album_id }}/"+ a;
      }
      function nextpage(){
        var a = _('currentpage').value;
        var b = a + 1;
          window.location="/album/{{ album.album_id }}/"+ b;
      }
      function prepage(){
        var a = _('currentpage').value;
        if (a>1){
          var b = a - 1;
          window.location="/album/{{ album.album_id }}/"+ b;
        }
      }
      function change_public_state(t) {
        var t = $(t);
        $.post("/modify", {
          //csrftoken: getCookie('csrftoken'),
          action: "change_album_public_state",
          album_id: "{{ album.album_id }}",
          state: t.prop("checked")
        });
      }

      /* ----- Start CSRF SUPPORT ------ */
      // https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
      function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
            }
         }
       }
     return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    /* ----- End CSRF SUPPORT ------ */
    </script>


  </body>
</html>