<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memory Album</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <!-- just the background of this page is black, so style here -->
    <style>body {background:#000;}</style>
  </head>
  <body>


<div class="smcq-main">
  <!-- just style this div here because it's just used in this part. -->
  <div style="text-align:center;font-size:6.0em;font-family: Oswald, sans-serif;">
    <span style="color:#fff;">Memory</span><span style="font-family: Oswald, sans-serif;color:#6e6;">Album</span>
  </div>

  <br><br><br>

  <div style="text-align:center;"><a class="btn btn-default btn-lg" role="button" href="/main" >Explore Right Now</a></div>

</div>

  </body>
</html>