<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memory Album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  </head>
  <body>
     <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/main" class="navbar-brand"><span class="smcq-title"><span style="font-family: Oswald, sans-serif;color:#fff;">Memory </span><span style="font-family: Oswald, sans-serif;color:#6e6;">Album</span></a>
        </div>
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
            <li>
              <button type="button" class="btn btn-default navbar-btn" onclick="location='/login/'">Sign In For More</button>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
              <span class="smcq-text">Logged in as <strong>{{ user.username}}</strong></span>
              <button type="button" class="btn btn-default navbar-btn" onclick="location='/logout/'">Logout</button>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header><br/><br/><br/><br/>

    <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            <li><a href="/main">Home</a></li>
            <li class="active">My Album</li>
          </ol>
      </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

      <!--image part-->
    <div class="row">
      {% for album in albums %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="album/{{ album.album_id }}">
            <img src="{% if album.thumb_image %}{{ album.thumb_image }}{% else %}/static/images/ts.jpg{% endif %}" alt="{{ album.title }}">
          </a>
          <div class="caption">
            <h3><a href="album/{{ album.album_id }}">{{ album.title }}</a></h3>
            <p>Here is the description or author here!</p>
            <p><a href="order_album/{{ album.album_id }}" class="btn btn-default" role="button">order</a> <a href="#" class="btn btn-default" role="button">remove</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--image part end-->

      <!--add plus sign-->
      {% if user.is_authenticated %}
      <div class="col-sm-6 col-md-4">
          <center>
            <a  data-toggle="modal" data-target="#addalbum"><img src="/static/images/plus.png" class="smcq-add"></a>
          </center>
      </div>
      
      <!--add plus sign end-->
    </div>
    <!--pagination-->

      <div class="well">{{ album_count }} Albums, {{ page_count }} Pages, {{ image_count }} Images</div>
      <!--pagination end-->
      {% endif %}
      <!-- add album -->
      <div class="modal fade" id="addalbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add new album</h4>
            </div>

            <div class="modal-body">
              <form class="form-horizontal" role="form" action="/modify/" method="post">{% csrf_token %}
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-6">
                    {{ new_album_form.as_p }}
                  </div>
                  <input type="hidden" value="create_album" name="action" />
                </div>
            </div>
                <div class="modal-footer">
                  <div class="col-sm-offset-1 col-sm-6">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                  </div>
                </div>
              </form>
            
          </div>
        </div>
      </div>
      <!-- add album end-->

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  </body>
</html>