<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memory Album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><span class="smcq-title">Memory Album</span></a>
        </div>
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <span class="smcq-text">Welcome, Please Sign In.</span><button type="button" class="btn btn-default navbar-btn"  data-toggle="modal" data-target="#Signin">Sign In</button>
            </li>
            <li>
              <span class="smcq-text">Welcome, <strong>Username</strong></span><button type="button" class="btn btn-danger navbar-btn">Logout</button>
            </li>
          </ul>
        </nav>
      </div>
    </header><br/><br/><br/><br/>
<!--  login part-->
<div class="modal fade" id="Signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Please Sign In Here</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" role="form" method="POST" action="main">{% csrf_token %}
          <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password...">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-success">Login</button>
              <button type="reset" class="btn btn-default">Clear</button>
              <button type="button" class="btn btn-danger pull-right">No Account ?</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.login end -->


    <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">My Album</li>
          </ol>
      </div>
	<div id="content">
    {% block content %}{% endblock %}
	</div>
      <!--image part-->
    <div class="row">
      {% for album in albums %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/images/ts.jpg"alt="...">
          <div class="caption">
            <h3><a href="album/{{ album.album_id }}">{{ album.title }}</a></h3>
            <p>Here is the description or author here!</p>
            <p><a href="#" class="btn btn-primary" role="button">order</a> <a href="#" class="btn btn-danger" role="button">remove</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--image part end-->

      <!--add plus sign-->
      <div class="col-sm-6 col-md-4">
          <center>
            <a  data-toggle="modal" data-target="#addalbum"><img src="/static/images/plus.png" class="smcq-add"></a>
          </center>
      </div>
      <!--add plus sign end-->
    </div>
    <!--pagination-->
      <ul class="pagination">

        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
      <div class="well">{{ album_count }} Albums, {{ page_count }} Pages, {{ image_count }} Images</div>
      <!--pagination end-->

      <!-- add album -->
      <div class="modal fade" id="addalbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add new album</h4>
            </div>

            <div class="modal-body">
              <form class="form-horizontal" role="form" action="/modify/" method="post">{% csrf_token %}
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-6">
                    {{ new_album_form.as_p }}
                  </div>
                  <input type="hidden" value="create_album" name="action" />
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-success">Create</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- add album end-->

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  </body>
</html>