<!-- Bad html, created for quick test! -->
{% if payment_state == "success" %}
<h1>Payment accepted</h1>
{% elif payment_state == "fail" %}
<h1> Payment failed</h1>
{% endif %}

<h1>My orders</h1>

{% for order in orders %}
<h2>Order for album {{ order.album.title }}</h2>
<p><a href="/album/{{ order.album.album_id }}">View Album</a></p>
<p>Date: {{ order.date }}</p>
<p>Payment status: 
{% if order.payment_succesful %}
Paid, reference number: {{ order.payment_reference_number }} </p>
{% else %}
Not paid, <a href="/order_check/{{ order.order_id }}">Pay now</a></p>
<p><a href="/modify?action=remove_order&amp;order_id={{ order.order_id }}">Cancel order</a></p>
{% endif %}

{% empty %}
<p>You have no orders</p>

{% endfor %}