<!-- Bad html, created for quick test! -->
<h1>Confirm ordering of album {{ album.title }}</h1>
<p>Price: {{ order.price }} &euro;</p>
<p>Name: {{ order.client_name }}</p>
<p>Address: {{ order.client_address }}</p>
<p>Email: {{ order.client_email }}</p>

<form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    <input type="hidden" name="pid" value="{{ order.order_id }}" />
    <input type="hidden" name="sid" value="MemoryAlbum" />
    <input type="hidden" name="success_url" 
            value="http://127.0.0.1:8000/order_succesfull" />
    <input type="hidden" name="cancel_url" 
            value="http://127.0.0.1:8000/order_failed" />
    <input type="hidden" name="error_url" 
            value="http://127.0.0.1:8000/order_failed" />
    <input type="hidden" name="checksum" 
            value="{{ checksum }}" />
    <input type="hidden" name="amount" value="{{ order.price }}" />
    <input type="submit" value="Accept Payment"/>
</form>