<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memory Album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <style>
    body {background:#000;}
  </style>
  </head>
  <body>

  <form action="/register/" method="post">{% csrf_token %}
    {{form}}
    <input type="submit" value="Register"/>
  </form>

<!--<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Please Register Here</h4>
      </div>

      <div class="modal-body">
        <form action="/register/" class="form-horizontal" method="post" role="form">{% csrf_token %}
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-6">
              <input type="text" value=""  name="username" class="form-control" id="username" placeholder="Enter your username...">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
              <input type="password" value="" name="password" class="form-control" id="password" placeholder="Enter your password...">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Re-Password</label>
            <div class="col-sm-6">
              <input type="password" value="" name="password" class="form-control" id="password" placeholder="Enter your password...">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
         	<input  class="btn btn-success" type="submit" value="Register"/>
             <button type="reset" class="btn btn-default">Clear</button>
             <a type="button" class="btn btn-danger pull-right" href="/login">Return Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>