img{
	border-radius: 50%;
}
.content_box{
	border: none;
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;
}
#p4{
    display: none;
}
#p5{
	display: none;
}
#p8{
	display: none;
}
#p9{
    display: none;
}
